*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;  
}

/*CABEÇALHO*/

#cabecalho {
    background-color: #084f70;
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    display: flex;
    align-items: center;
    font-size: .9em;
}

#logo img {
    margin-right: 20px;
    margin-left: 5px;
}

#btn-orange{
    width: 170px;
    background-color: #e87c25;
    color: rgb(248, 248, 248);
    font-size: .7em;
    border: 1px solid rgb(248, 248, 248); 
    border-radius: 1px;
    padding:4px 0;
    margin-right: 50px;
    cursor: pointer;
}

#btn-orange a {
    text-decoration: none;
    color: rgb(248, 248, 248);

}

/*PRIMEIRA PARTE*/

.one{
    display: flex;
    justify-content: center;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: left;
}

#txt-one {
    width: 40%;
    margin-top: 60px;
}

#txt-one > h1 {
    font-size: 2.4em;
    color: #094F71
}

#txt-one > p {
    margin-top: 30px;
    font-size: 1.4em;
    word-break: keep-all;
    line-height: 1.3;
    color: #789FB2;
}

.one #small-line{
    font-size: 15px;
}

.one #italic-line{
    font-size: 13px;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 25px;
    
}

#img-one {
    margin-left: 10px;
    height: 1px;
    z-index: -1;
    margin-top: 60px;
}

/*SEGUNDA PARTE*/

.two {
    width: 100%;
    height: 200px;
    background-color: #0077F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.7em;
}

#btn-white {
    color: #1B5C7C;
    background-color: white;
    padding: 15px;
    border: none;
    font-size: .55em;
    margin-top: 20px;
    box-shadow: .5px .5px .5px black;
    cursor: pointer;
}

#segunda-frase {
    margin-top: 8px;
    font-size: 11px;
}

#segunda-frase > a {
    text-decoration: none;
    color: white;
    
}

/*TERCEIRA PARTE*/

.three {
    
    color: #094F71;
    height: 430px;
}

.three #text-three {
    margin: 60px 465px 0px 465px;
    text-align: center;

}

.three #paragrafo-tres {
    line-height: 1.3;
    margin-top: 15px;
    margin-bottom: 15px;

}

#cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 300px;
    margin-right: 300px;
    
}

.item {
    border: 1px solid #789FB2;
    color: #789FB2;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 20px;
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.item a {
    text-decoration: none;
    color:#789FB2; ;

}

#ultimo {
    width: 300px;
    height: 0;
    margin-top: 10px;
}

/*QUARTA PARTE*/

.four {
    background-color: #0077F9;
    height: 400px;
    color: white;
    display: flex;
    
}

.four a {
    text-decoration: none;
    color: white;
}

.four #primeiro-retangulo {
    padding-top: 100px;
    border-right: 3px solid rgb(248, 248, 248);
    color:  rgb(248, 248, 248);
}

#primeiro-retangulo p {
    margin-bottom: 25px;
    margin-right: 20px;
    margin-left: 300px;
}

.four #segundo-retangulo {
    padding-top: 95px;
    margin-left: 30px;
}

#segundo-retangulo h1 {
    font-size: 2.7em;
}

#click {
    margin-top: 33px;
}

/*FOOTER*/

#rodape {
    background-color: #094F71;
    color: rgb(248, 248, 248);
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 8px;
}

#rodape img {
    margin-top: 20px;
    margin-bottom: 5px;
}